{% extends 'base-backend.html.twig' %}

{% block title %}Edit CategorieChambre{% endblock %}

{% block body %}
    <h1>Edit CategorieChambre</h1>

    {{ include('admin_categorie_chambre/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_admin_categorie_chambre_index') }}">back to list</a>

    {{ include('admin_categorie_chambre/_delete_form.html.twig') }}
{% endblock %}
